@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/Oswald.woff');
}

p {
  margin: 0;
}

.login {
  height: 300vh;
  width: 99vw;
  /* overflow-x: hidden; */
  /* background: url('../../assets/img/thirdBG.jpg');
  background-position: cover; */
}

.hiContainer {
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      /* Начало */ rgba(0, 0, 0, 0.3) 15%,
      /* Плавное изменение */ rgba(0, 0, 0, 0.3) 30%,
      /* Постепенно светлеет */ rgba(0, 0, 0, 0.2) 50%,
      /* Еще светлее */ rgba(245, 222, 179, 0.2) 70%,
      /* Начинает появляться бежевый */ rgba(202, 186, 156, 0.7) 85%,
      /* Почти полностью бежевый */ rgba(245, 222, 179, 1) 100%
        /* Конечный цвет */
    ),
    url('../../assets/img/thirdBG.jpg');
  background-size: cover;
  height: 100vh;
}

/* #bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

#video-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
} */

.animation {
  background-color: #68ffde;
  border: none;
  border-radius: 20px;
  height: 30px;
  color: rgb(150, 150, 150);
}

.login {
  overflow: hidden;
}

.loginMenu {
  display: flex;
  justify-content: start;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

.loginMenuItem {
  background-color: rgb(245, 222, 179, 0.2);
  align-content: center;
  border-bottom-right-radius: 1rem;
}

.menuBurger {
  background: none;
  border: none;
  width: 2rem;
}

.contentWrapper {
  margin-top: 30vh;
  margin-bottom: 20vh;
  overflow: hidden;
  justify-items: center;
}

.mainContainer {
  /* background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../assets/img/sixthBg.jpg') no-repeat;
  background-size: cover; */

  background: rgb(245, 222, 179);
  background-attachment: cover;
  min-height: 100vh;
  backdrop-filter: blur(100px);

  color: #8c5e91;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.containerPhoto {
  width: 30rem;
  height: 100%;
  border-radius: 20px;
}

.mainContainerPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;

  width: 80vw;
  height: 50vh;
  background: rgba(255, 255, 255, 0.15); /* Полупрозрачный белый */
  backdrop-filter: blur(12px); /* Размытие фона позади */
  -webkit-backdrop-filter: blur(12px); /* Для Safari */

  border-radius: 16px; /* Закругленные углы */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Тонкая белая рамка */

  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    /* Внешняя тень */ inset 0 0 0 1px rgba(255, 255, 255, 0.2); /* Внутренняя подсветка */

  padding: 24px;
}

.mainContainerTexts {
  font-size: 2rem;
}
.containerPanelDescription {
  font-size: 1.5rem;
}

.text1 {
  margin: 0;
  opacity: 1;

  font-size: 8rem;
  color: wheat;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descrition1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: wheat;
  font-size: 1rem;
}

.tipacub {
  position: absolute;
  /* transform: translate(50%, 50%); */
  background-color: #01ddff;
  line-height: 1rem;
  font-size: large;
  color: transparent;
  /* transition: all ease 1s; */
}
.endContainer {
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.3) 0%,
      /* Начало */ rgba(0, 0, 0, 0.3) 15%,
      /* Плавное изменение */ rgba(0, 0, 0, 0.3) 30%,
      /* Постепенно светлеет */ rgba(0, 0, 0, 0.2) 50%,
      /* Еще светлее */ rgba(245, 222, 179, 0.2) 70%,
      /* Начинает появляться бежевый */ rgba(202, 186, 156, 0.7) 85%,
      /* Почти полностью бежевый */ rgba(245, 222, 179, 1) 100%
        /* Конечный цвет */
    ),
    url('../../assets/img/last.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: wheat;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.endText {
  font-size: 2rem;
}
